*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
/* navbar section start*/
.registration-form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c4d55;
}
.registration-form form{
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.registration-form form h2{
    font-size: 24px;
    margin-bottom: 200px;
    color: #333;
}
.registration-form form input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
.registration-form form input[type="submit"]{
    background-color: #4c4d55;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.registration-form form input[type="submit"]:hover{
    background-color: #333;
    padding: 10px;
}
.registration-form form input[type="submit"]:active{
    background-color: #ff6347;
}
.registration-form form input[type="submit"]:focus{
    outline: none;
}
button{
    background-color: #4c4d55;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    text-align: center;
    transition: background-color 0.3s ease;
}
.navbar{
    height: 60px;
    background-color: #333;
    display: flex;
    padding-left: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    background-color: #333;
    border: 1px solid red;
}

.navbar ul{
    list-style: none;
    display: flex;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar ul li{
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px 20px;

    
}
.navbar ul li:hover{
    color: #ff6347;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: #ff6347;
}



/* navbar section end*/